##import

### import

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
from pycaret.regression import *
from sklearn.cluster import KMeans
from tqdm import tqdm
from sklearn.preprocessing import LabelEncoder
import plotly.graph_objects as go
from sklearn.metrics import make_scorer
from sklearn.model_selection import cross_val_score
import joblib
from sktime.forecasting.model_selection import temporal_train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from pycaret import *
import optuna

### 메소드

In [2]:

# smape 계산 함수
def smape(true, pred):
  v = 2*abs(pred-true)/(abs(pred)+abs(true))
  output=np.mean(v)*100
  return output

# custom metrics
def custom_metrics(true, pred):
    v = 2 * abs(pred - true) / (abs(pred) + abs(true))
    output = np.mean(v) * 100
    return output

### 데이터 불러오기

In [3]:
path_drive = './csv/'
path = './'

In [4]:
combined_clust_df = pd.read_csv(path_drive+'combined_clust_df.csv')
test_df = pd.read_csv(path_drive + 'test_df.csv')

In [5]:
def CDH(xs):
    ys = []
    for i in range(len(xs)):
        if i < 11:
            ys.append(np.sum(xs[:(i+1)]-26))
        else:
            ys.append(np.sum(xs[(i-11):(i+1)]-26))
    return np.array(ys)

train_cdhs = np.array([])
test_cdhs = np.array([])

for num in range(1,101,1):
    train_temp = combined_clust_df[combined_clust_df['건물번호'] == num]
    test_temp = test_df[test_df['건물번호'] == num]
    train_cdh = CDH(train_temp['기온(C)'].values)
    test_cdh = CDH(test_temp['기온(C)'].values)
    train_cdhs = np.concatenate([train_cdhs, train_cdh])
    test_cdhs = np.concatenate([test_cdhs, test_cdh])
combined_clust_df['CDH'] = train_cdhs
test_df['CDH'] = test_cdhs
# combined_clust_df.head(30)

In [209]:
# combined_clust_df.reset_index(inplace=True)
# test_df.reset_index(inplace=True)
# tmp_grouped = combined_clust_df.groupby(['건물번호','시간','요일'])['전력소비량(kWh)'].mean().reset_index()
# tmp_grouped.rename(columns={'전력소비량(kWh)':'요일_시간_mean'}, inplace=True)
# combined_clust_df = combined_clust_df.merge(tmp_grouped, on=['건물번호','시간','요일'])
# test_df = test_df.merge(tmp_grouped, on=['건물번호','시간','요일'])

# tmp_grouped = combined_clust_df.groupby(['건물번호','시간'])['전력소비량(kWh)'].mean().reset_index()
# tmp_grouped.rename(columns={'전력소비량(kWh)':'시간_mean'}, inplace=True)
# combined_clust_df = combined_clust_df.merge(tmp_grouped, on=['건물번호','시간'])
# test_df = test_df.merge(tmp_grouped, on=['건물번호','시간'])

# tmp_grouped = combined_clust_df.groupby(['건물번호','시간'])['전력소비량(kWh)'].std().reset_index()
# tmp_grouped.rename(columns={'전력소비량(kWh)':'시간_std'}, inplace=True)
# combined_clust_df = combined_clust_df.merge(tmp_grouped, on=['건물번호','시간'])
# test_df = test_df.merge(tmp_grouped, on=['건물번호','시간'])
# combined_clust_df = combined_clust_df.sort_values(by=['index'], axis=0)
# test_df = test_df.sort_values(by=['index'], axis=0)
# combined_clust_df=combined_clust_df.drop('index',axis=1)
# test_df=test_df.drop('index',axis=1)

In [90]:
test_df

,건물번호,일시,기온(C),풍속(m/s),습도(%),불쾌지수,불쾌지수_이동평균3,불쾌지수_이동평균5,holiday,월,...,할인마트,호텔및리조트,건물유형_라벨,태양광여부,work_time,low_day,particular,요일_시간_mean,시간_mean,시간_std
0,1,2022-08-25 00:00:00,23.5,2.2,72,71.78980,71.789800,71.789800,False,8,...,0,0,1,False,0,0,0,1627.800000,1706.318118,446.882767
7,1,2022-08-25 01:00:00,23.0,0.9,72,71.02840,71.409100,71.409100,False,8,...,0,0,1,False,0,0,0,1550.080000,1622.620235,439.662704
14,1,2022-08-25 02:00:00,22.7,1.5,75,70.81675,71.211650,71.211650,False,8,...,0,0,1,False,0,0,0,1431.120000,1506.971294,412.071906
21,1,2022-08-25 03:00:00,22.1,1.3,78,70.11262,70.652590,70.936892,False,8,...,0,0,1,False,0,0,0,1372.200000,1437.365647,391.205981
28,1,2022-08-25 04:00:00,21.8,1.0,77,69.56514,70.164837,70.662542,False,8,...,0,0,1,False,0,0,0,1381.720000,1447.321412,381.099697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16771,100,2022-08-31 19:00:00,22.5,0.9,84,71.22400,72.378973,72.792244,False,8,...,0,1,12,False,1,0,0,964.873846,1010.462118,161.399578
16778,100,2022-08-31 20:00:00,20.7,0.4,95,68.95035,70.961363,71.899884,False,8,...,0,1,12,False,1,0,0,882.184615,928.125176,137.566008
16785,100,2022-08-31 21:00:00,20.2,0.4,98,68.24604,69.473463,70.866662,False,8,...,0,1,12,False,1,0,0,779.095385,830.032941,128.300189
16792,100,2022-08-31 22:00:00,20.1,1.1,97,68.01203,68.402807,69.828432,False,8,...,0,1,12,False,1,0,0,663.267692,723.100235,112.464079
16799,100,2022-08-31 23:00:00,19.1,0.1,99,66.33391,67.530660,68.553266,False,8,...,0,1,12,False,0,0,0,561.932308,588.784941,91.484424

## 군집화

### 각 군집별로 모델 생성(et) +모델별 feature 추가

In [15]:
combined_clust_df.columns.tolist()

['건물번호',
 '일시',
 '기온(C)',
 '풍속(m/s)',
 '습도(%)',
 '전력소비량(kWh)',
 '불쾌지수',
 '불쾌지수_이동평균3',
 '불쾌지수_이동평균5',
 'holiday',
 '월',
 '일',
 '시간',
 '시간_sin',
 '시간_cos',
 '요일',
 '건물유형',
 '연면적(m2)',
 '냉방면적(m2)',
 '태양광용량(kW)',
 'ESS저장용량(kWh)',
 '건물기타',
 '공공',
 '대학교',
 '데이터센터',
 '백화점및아울렛',
 '병원',
 '상용',
 '아파트',
 '연구소',
 '지식산업센터',
 '할인마트',
 '호텔및리조트',
 '건물유형_라벨',
 '태양광여부',
 'km_cluster',
 'datetime',
 'work_time',
 'low_day',
 'particular',
 'CDH']

Cluster 0: ['건물기타', '대학교', '연구소', '할인마트']  
Cluster 1: ['백화점및아울렛', '호텔및리조트']  
Cluster 2: ['데이터센터', '아파트']  
Cluster 3: ['공공', '병원', '상용', '지식산업센터']

In [7]:
clust_to_num = {0: [1, 3, 9, 11], 1: [5, 12], 2: [4, 8], 3: [2, 6, 7, 10]}

In [8]:
model_type = 'et'

# et, rf, catboost, xgboost, lightgbm, dt 6개 앙상블 해보기 (train 기준 smape 찍고 상위 몇가지 알고리즘만 채택)

https://pycaret.readthedocs.io/en/latest/api/regression.html#pycaret.regression.ensemble_model


# clust0

In [32]:
selected_columns0 = ['전력소비량(kWh)',
 '연면적(m2)',
  '연구소',
  'work_time',
  '건물번호',
  'holiday',
  'particular',
  '냉방면적(m2)',
  '시간_cos',
  '대학교',
  '불쾌지수',
  'low_day',
  '불쾌지수_이동평균3',
  '시간',
  '태양광용량(kW)',
  'ESS저장용량(kWh)',
  '월',
  '시간_sin',
  '기온(C)',
  '요일',
  '일', 'CDH',
 'km_cluster']
combined_clust_train_df = combined_clust_df[selected_columns0]

clust0_train_df = combined_clust_train_df[combined_clust_train_df['km_cluster'] == 0].reset_index(drop=True)

# con_li = ['연면적(m2)','냉방면적(m2)','시간_cos','불쾌지수',
#           '불쾌지수_이동평균3','시간','태양광용량(kW)','ESS저장용량(kWh)',
#           '시간_sin','기온(C)','CDH']

# sc = StandardScaler()
# clust0_train_df[con_li] = sc.fit_transform(clust0_train_df[con_li])

# clust0_train_df['전력소비량(kWh)'] = clust0_train_df['전력소비량(kWh)'].map(lambda x:np.log(x) if x > 0 else 0)
# 로그변환 오히려 성능 저하

In [39]:
cat_li = ['건물번호',  'holiday',  'particular','low_day']

# pycaret 설정
exp0 = setup(data=clust0_train_df.drop(columns=['km_cluster']), target='전력소비량(kWh)', 
             categorical_features=cat_li, train_size=len(clust0_train_df)-clust0_train_df['건물번호'].nunique()*168)
exp0.add_metric('smape','SMAPE',smape,greater_is_better=False)

# et_model = create_model('et')  # 선형 회귀 모델
rf_model = create_model('rf')

Warning: No categorical columns found. Calling 'transform' will only return input data.

In [13]:
from pycaret.regression import *
from sklearn.ensemble import ExtraTreesRegressor

X_train, X_valid, y_train, y_valid = train_test_split(clust0_train_df.drop(['km_cluster','전력소비량(kWh)'],axis=1), clust0_train_df['전력소비량(kWh)'], test_size=168*clust0_train_df['건물번호'].nunique())
def objective(trial):
    param = {
        'n_estimators': 1000,
    'max_depth' : trial.suggest_int('max_depth', 20, 30),
    'min_samples_split': trial.suggest_int('min_samples_split', 2, 5),
    'min_samples_leaf': trial.suggest_int('min_samples_leaf', 1, 5),
 'max_features': 1.0,
            'criterion': 'squared_error',
 'random_state': 5568,
        'n_jobs':-1,
 'verbose': 1
    }

    model = ExtraTreesRegressor(**param)
    model.fit(X_train,y_train)

    preds = model.predict(X_valid)

    sm = smape(y_valid, preds)

    return sm


study = optuna.create_study(study_name = 'ET Optuna_cluster_0')
study.optimize(objective, n_trials=30, timeout=24000)

et = study.best_trial
et_param = et.params
print('Best Trial : score {},\nparams {}'.format(et.value, et_param))

[I 2023-08-28 06:56:16,608] A new study created in memory with name: ET Optuna_cluster_0
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.2s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.2s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    5.8s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    7.6s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.3s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[I 2023-08-28 06:56:24,879] Trial 0 finished with value: 4.294492143785948 and parameters: {'max_depth': 24, 'min_samples_split': 5, 'min_samples_leaf': 4}. Best is trial 0 with value: 4.294492143785948.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.6s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.9s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    7.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    9.3s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.4s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.4s finished
[I 2023-08-28 06:56:35,050] Trial 1 finished with value: 3.8828315153217656 and parameters: {'max_depth': 27, 'min_samples_split': 2, 'min_samples_leaf': 2}. Best is trial 1 with value: 3.8828315153217656.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.5s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    7.0s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    9.2s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.3s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[I 2023-08-28 06:56:45,019] Trial 2 finished with value: 3.8040507454949766 and parameters: {'max_depth': 28, 'min_samples_split': 5, 'min_samples_leaf': 1}. Best is trial 2 with value: 3.8040507454949766.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    6.2s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    8.2s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.3s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[I 2023-08-28 06:56:53,849] Trial 3 finished with value: 4.106274661242431 and parameters: {'max_depth': 23, 'min_samples_split': 2, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.8040507454949766.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.5s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    7.0s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    9.1s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.3s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.4s finished
[I 2023-08-28 06:57:03,719] Trial 4 finished with value: 3.921731012720849 and parameters: {'max_depth': 23, 'min_samples_split': 4, 'min_samples_leaf': 2}. Best is trial 2 with value: 3.8040507454949766.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    6.3s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    8.3s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[I 2023-08-28 06:57:12,595] Trial 5 finished with value: 4.079339087784875 and parameters: {'max_depth': 27, 'min_samples_split': 4, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.8040507454949766.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.2s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.2s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    5.8s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    7.7s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[I 2023-08-28 06:57:20,819] Trial 6 finished with value: 4.292528675305615 and parameters: {'max_depth': 25, 'min_samples_split': 3, 'min_samples_leaf': 4}. Best is trial 2 with value: 3.8040507454949766.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.5s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.9s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    7.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    9.3s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.3s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.4s finished
[I 2023-08-28 06:57:30,900] Trial 7 finished with value: 3.8959921160951234 and parameters: {'max_depth': 25, 'min_samples_split': 4, 'min_samples_leaf': 2}. Best is trial 2 with value: 3.8040507454949766.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    6.3s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    8.3s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.3s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[I 2023-08-28 06:57:39,881] Trial 8 finished with value: 4.083289447574446 and parameters: {'max_depth': 26, 'min_samples_split': 3, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.8040507454949766.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.2s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.2s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    5.9s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    7.7s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[I 2023-08-28 06:57:48,197] Trial 9 finished with value: 4.282951191319272 and parameters: {'max_depth': 28, 'min_samples_split': 2, 'min_samples_leaf': 4}. Best is trial 2 with value: 3.8040507454949766.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.5s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    7.0s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    9.2s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.3s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[I 2023-08-28 06:57:58,170] Trial 10 finished with value: 3.8013519583829014 and parameters: {'max_depth': 30, 'min_samples_split': 5, 'min_samples_leaf': 1}. Best is trial 10 with value: 3.8013519583829014.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.5s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    7.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    9.3s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.4s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.5s finished
[I 2023-08-28 06:58:08,393] Trial 11 finished with value: 3.8013519583829014 and parameters: {'max_depth': 30, 'min_samples_split': 5, 'min_samples_leaf': 1}. Best is trial 10 with value: 3.8013519583829014.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.5s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    7.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    9.3s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.3s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[I 2023-08-28 06:58:18,417] Trial 12 finished with value: 3.8051664474566227 and parameters: {'max_depth': 29, 'min_samples_split': 5, 'min_samples_leaf': 1}. Best is trial 10 with value: 3.8013519583829014.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.5s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.9s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    7.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    9.3s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.3s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.4s finished
[I 2023-08-28 06:58:28,486] Trial 13 finished with value: 3.8013519583829014 and parameters: {'max_depth': 30, 'min_samples_split': 5, 'min_samples_leaf': 1}. Best is trial 10 with value: 3.8013519583829014.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.2s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    5.6s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    7.4s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[I 2023-08-28 06:58:36,462] Trial 14 finished with value: 4.472368953549137 and parameters: {'max_depth': 30, 'min_samples_split': 4, 'min_samples_leaf': 5}. Best is trial 10 with value: 3.8013519583829014.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.5s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    7.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    9.3s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.3s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[I 2023-08-28 06:58:46,470] Trial 15 finished with value: 3.8013519583829014 and parameters: {'max_depth': 30, 'min_samples_split': 5, 'min_samples_leaf': 1}. Best is trial 10 with value: 3.8013519583829014.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    6.4s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    8.4s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[I 2023-08-28 06:58:55,503] Trial 16 finished with value: 4.110353148970447 and parameters: {'max_depth': 20, 'min_samples_split': 5, 'min_samples_leaf': 2}. Best is trial 10 with value: 3.8013519583829014.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.6s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    4.1s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    7.6s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    9.9s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[I 2023-08-28 06:59:06,071] Trial 17 finished with value: 3.8990825537996745 and parameters: {'max_depth': 21, 'min_samples_split': 3, 'min_samples_leaf': 1}. Best is trial 10 with value: 3.8013519583829014.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.5s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.9s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    7.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    9.3s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.3s
[Parallel(n_jobs=20)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[I 2023-08-28 06:59:16,094] Trial 18 finished with value: 3.8831492928706024 and parameters: {'max_depth': 29, 'min_samples_split': 4, 'min_samples_leaf': 2}. Best is trial 10 with value: 3.8013519583829014.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.5s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.9s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    7.1s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    9.3s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.2s

Best Trial : score 3.8013519583829014,
params {'max_depth': 30, 'min_samples_split': 5, 'min_samples_leaf': 1}

In [23]:
from sklearn.ensemble import RandomForestRegressor
X_train, X_valid, y_train, y_valid = train_test_split(clust0_train_df.drop(['km_cluster','전력소비량(kWh)'],axis=1), clust0_train_df['전력소비량(kWh)'], test_size=168*clust0_train_df['건물번호'].nunique())

def objective(trial):
    param = {
        'n_estimators': trial.suggest_int('n_estimators', 100, 1000),
        'criterion': 'squared_error',
        'max_depth' : trial.suggest_int('max_depth', 10, 30),
        'min_samples_split': trial.suggest_int('min_samples_split', 3, 10),
        'min_samples_leaf': trial.suggest_int('min_samples_leaf', 3, 5),
        'random_state': 4555,
 'n_jobs': -1,
 'verbose': 1
    }

    model = RandomForestRegressor(**param)
    model.fit(X_train,y_train)

    preds = model.predict(X_valid)

    sm = smape(y_valid, preds)

    
    return sm

study_0 = optuna.create_study(study_name = 'RF Optuna_0')
study_0.optimize(objective, n_trials=50, timeout=24000)

rf_0 = study_0.best_trial
rf_0_param = rf_0.params
print('Best Trial: score {},\nparams {}'.format(rf_0.value, rf_0_param))

[I 2023-08-28 07:14:59,345] A new study created in memory with name: RF Optuna_0
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    8.6s
[Parallel(n_jobs=-1)]: Done 679 out of 679 | elapsed:   14.1s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 679 out of 679 | elapsed:    0.2s finished
[I 2023-08-28 07:15:13,755] Trial 0 finished with value: 4.280863897155934 and parameters: {'n_estimators': 679, 'max_depth': 30, 'min_samples_split': 3, 'min_samples_leaf': 4}. Best is trial 0 with value: 4.280863897155934.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.5s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 315 out of 315 | elapsed:    6.7s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 315 out of 315 | elapsed:    0.1s finished
[I 2023-08-28 07:15:20,658] Trial 1 finished with value: 4.189414638004464 and parameters: {'n_estimators': 315, 'max_depth': 26, 'min_samples_split': 8, 'min_samples_leaf': 3}. Best is trial 1 with value: 4.189414638004464.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.3s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    2.3s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    5.8s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:   10.6s
[Parallel(n_jobs=-1)]: Done 955 out of 955 | elapsed:   13.3s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 955 out of 955 | elapsed:    0.2s finished
[I 2023-08-28 07:15:34,371] Trial 2 finished with value: 9.031007801805085 and parameters: {'n_estimators': 955, 'max_depth': 11, 'min_samples_split': 7, 'min_samples_leaf': 4}. Best is trial 1 with value: 4.189414638004464.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 187 out of 187 | elapsed:    3.9s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 187 out of 187 | elapsed:    0.0s finished
[I 2023-08-28 07:15:38,371] Trial 3 finished with value: 4.353792619982469 and parameters: {'n_estimators': 187, 'max_depth': 21, 'min_samples_split': 4, 'min_samples_leaf': 4}. Best is trial 1 with value: 4.189414638004464.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done 264 out of 264 | elapsed:    4.9s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 264 out of 264 | elapsed:    0.1s finished
[I 2023-08-28 07:15:43,424] Trial 4 finished with value: 5.212596064704173 and parameters: {'n_estimators': 264, 'max_depth': 16, 'min_samples_split': 6, 'min_samples_leaf': 5}. Best is trial 1 with value: 4.189414638004464.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 309 out of 309 | elapsed:    6.3s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 309 out of 309 | elapsed:    0.1s finished
[I 2023-08-28 07:15:49,873] Trial 5 finished with value: 4.436754639460757 and parameters: {'n_estimators': 309, 'max_depth': 27, 'min_samples_split': 3, 'min_samples_leaf': 5}. Best is trial 1 with value: 4.189414638004464.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 439 out of 439 | elapsed:    8.8s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 439 out of 439 | elapsed:    0.1s finished
[I 2023-08-28 07:15:58,843] Trial 6 finished with value: 4.464559780833335 and parameters: {'n_estimators': 439, 'max_depth': 22, 'min_samples_split': 10, 'min_samples_leaf': 5}. Best is trial 1 with value: 4.189414638004464.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.3s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    6.2s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:   11.5s
[Parallel(n_jobs=-1)]: Done 823 out of 823 | elapsed:   12.4s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 823 out of 823 | elapsed:    0.2s finished
[I 2023-08-28 07:16:11,528] Trial 7 finished with value: 7.8167800961950835 and parameters: {'n_estimators': 823, 'max_depth': 12, 'min_samples_split': 8, 'min_samples_leaf': 4}. Best is trial 1 with value: 4.189414638004464.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    7.6s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:   13.8s
[Parallel(n_jobs=-1)]: Done 957 out of 957 | elapsed:   17.3s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 957 out of 957 | elapsed:    0.2s finished
[I 2023-08-28 07:16:29,219] Trial 8 finished with value: 5.210380380368969 and parameters: {'n_estimators': 957, 'max_depth': 16, 'min_samples_split': 5, 'min_samples_leaf': 5}. Best is trial 1 with value: 4.189414638004464.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    8.6s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:   15.7s
[Parallel(n_jobs=-1)]: Done 965 out of 965 | elapsed:   19.9s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 965 out of 965 | elapsed:    0.3s finished
[I 2023-08-28 07:16:49,607] Trial 9 finished with value: 4.2765366309118455 and parameters: {'n_estimators': 965, 'max_depth': 27, 'min_samples_split': 3, 'min_samples_leaf': 4}. Best is trial 1 with value: 4.189414638004464.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    8.6s
[Parallel(n_jobs=-1)]: Done 487 out of 487 | elapsed:   10.1s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 487 out of 487 | elapsed:    0.1s finished
[I 2023-08-28 07:16:59,999] Trial 10 finished with value: 4.277889277421937 and parameters: {'n_estimators': 487, 'max_depth': 24, 'min_samples_split': 10, 'min_samples_leaf': 3}. Best is trial 1 with value: 4.189414638004464.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 101 out of 101 | elapsed:    2.3s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 101 out of 101 | elapsed:    0.0s finished
[I 2023-08-28 07:17:02,442] Trial 11 finished with value: 4.191947449957506 and parameters: {'n_estimators': 101, 'max_depth': 27, 'min_samples_split': 8, 'min_samples_leaf': 3}. Best is trial 1 with value: 4.189414638004464.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 135 out of 135 | elapsed:    2.9s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 135 out of 135 | elapsed:    0.0s finished
[I 2023-08-28 07:17:05,452] Trial 12 finished with value: 4.187301448053573 and parameters: {'n_estimators': 135, 'max_depth': 30, 'min_samples_split': 8, 'min_samples_leaf': 3}. Best is trial 12 with value: 4.187301448053573.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 355 out of 355 | elapsed:    7.5s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 355 out of 355 | elapsed:    0.1s finished
[I 2023-08-28 07:17:13,173] Trial 13 finished with value: 4.1835916309483485 and parameters: {'n_estimators': 355, 'max_depth': 30, 'min_samples_split': 8, 'min_samples_leaf': 3}. Best is trial 13 with value: 4.1835916309483485.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    8.6s
[Parallel(n_jobs=-1)]: Done 598 out of 598 | elapsed:   12.3s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 598 out of 598 | elapsed:    0.2s finished
[I 2023-08-28 07:17:25,840] Trial 14 finished with value: 4.2226964195552785 and parameters: {'n_estimators': 598, 'max_depth': 30, 'min_samples_split': 9, 'min_samples_leaf': 3}. Best is trial 13 with value: 4.1835916309483485.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 428 out of 428 | elapsed:    9.2s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 428 out of 428 | elapsed:    0.1s finished
[I 2023-08-28 07:17:35,265] Trial 15 finished with value: 4.141868082993174 and parameters: {'n_estimators': 428, 'max_depth': 30, 'min_samples_split': 7, 'min_samples_leaf': 3}. Best is trial 15 with value: 4.141868082993174.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done 377 out of 377 | elapsed:    7.5s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 377 out of 377 | elapsed:    0.1s finished
[I 2023-08-28 07:17:43,017] Trial 16 finished with value: 4.495915743552447 and parameters: {'n_estimators': 377, 'max_depth': 18, 'min_samples_split': 6, 'min_samples_leaf': 3}. Best is trial 15 with value: 4.141868082993174.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    8.8s
[Parallel(n_jobs=-1)]: Done 588 out of 588 | elapsed:   12.4s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 588 out of 588 | elapsed:    0.2s finished
[I 2023-08-28 07:17:55,779] Trial 17 finished with value: 4.16206441624665 and parameters: {'n_estimators': 588, 'max_depth': 24, 'min_samples_split': 7, 'min_samples_leaf': 3}. Best is trial 15 with value: 4.141868082993174.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    8.9s
[Parallel(n_jobs=-1)]: Done 657 out of 657 | elapsed:   13.9s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 657 out of 657 | elapsed:    0.2s finished
[I 2023-08-28 07:18:10,101] Trial 18 finished with value: 4.1381191631865395 and parameters: {'n_estimators': 657, 'max_depth': 24, 'min_samples_split': 5, 'min_samples_leaf': 3}. Best is trial 18 with value: 4.1381191631865395.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done 723 out of 723 | elapsed:   14.7s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 723 out of 723 | elapsed:    0.2s finished
[I 2023-08-28 07:18:25,217] Trial 19 finished with value: 4.293213418430037 and parameters: {'n_estimators': 723, 'max_depth': 24, 'min_samples_split': 5, 'min_samples_leaf': 4}. Best is trial 18 with value: 4.1381191631865395.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    8.6s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:   15.7s
[Parallel(n_jobs=-1)]: Done 812 out of 812 | elapsed:   16.8s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.2s
[Parallel(n_jobs=20)]: Done 812 out of 812 | elapsed:    0.2s finished
[I 2023-08-28 07:18:42,450] Trial 20 finished with value: 4.265064656931098 and parameters: {'n_estimators': 812, 'max_depth': 20, 'min_samples_split': 5, 'min_samples_leaf': 3}. Best is trial 18 with value: 4.1381191631865395.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    8.7s
[Parallel(n_jobs=-1)]: Done 574 out of 574 | elapsed:   12.0s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 574 out of 574 | elapsed:    0.1s finished
[I 2023-08-28 07:18:54,784] Trial 21 finished with value: 4.1739540897566245 and parameters: {'n_estimators': 574, 'max_depth': 23, 'min_samples_split': 7, 'min_samples_leaf': 3}. Best is trial 18 with value: 4.1381191631865395.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    8.9s
[Parallel(n_jobs=-1)]: Done 490 out of 490 | elapsed:   10.5s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 490 out of 490 | elapsed:    0.2s finished
[I 2023-08-28 07:19:05,669] Trial 22 finished with value: 4.122191857044723 and parameters: {'n_estimators': 490, 'max_depth': 26, 'min_samples_split': 6, 'min_samples_leaf': 3}. Best is trial 22 with value: 4.122191857044723.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.

Best Trial: score 4.113664005914089,
params {'n_estimators': 925, 'max_depth': 30, 'min_samples_split': 3, 'min_samples_leaf': 3}

In [196]:
# 앙상블


cat_li = ['건물번호',  'holiday',  'particular','low_day']

# pycaret 설정
exp0 = setup(data=clust0_train_df.drop(columns=['km_cluster']), target='전력소비량(kWh)', 
             categorical_features=cat_li, train_size=len(clust0_train_df)-clust0_train_df['건물번호'].nunique()*168)
exp0.add_metric('smape','SMAPE',smape,greater_is_better=False)
# 기본 모델 생성
et_model = create_model('et')  # 선형 회귀 모델
rf_model = create_model('rf')  # 랜덤 포레스트 모델
# catboost_model = create_model('catboost')  # catboost 모델
# lightgbm_model = create_model('lightgbm')  # LightGBM 모델
# dt_model = create_model('dt')  # dt 모델
# xgboost_model = create_model('xgboost')  # xgboost 모델

Warning: No categorical columns found. Calling 'transform' will only return input data.

In [170]:
m_0 = [et_model, rf_model]
w_li = [[0.7,0.3],[0.75,0.25],[0.8,0.2],[0.9,0.1]]
b_li = []
for w in w_li:
    blender = blend_models(m_0, weights=w)
    b_li.append(blender)

# save_model(blender,'./ensemble-0')

In [24]:
rf_model.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 4555,
 'verbose': 0,
 'warm_start': False}

In [77]:
et_params_0= {'n_estimators':1000, 'max_depth': 29, 'min_samples_split': 4, 'min_samples_leaf': 1,
       'max_features': 1.0,'criterion': 'squared_error', 'random_state': 5568}
rf_params_0 = {'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 4555,
 'verbose': 0,
 'warm_start': False}
et_0 = ExtraTreesRegressor(**et_params_0)
rf_0 = RandomForestRegressor(**rf_params_0)

In [40]:
m_0 = [et_0, rf_model]
blender = blend_models(m_0, weights=[0.8,0.2])

In [41]:
blender_1 = blend_models(m_0, weights=[0.9,0.1])

In [78]:
# f_blender = finalize_model(blender)
save_model(et_0,'./ensemble-0')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=/tmp/joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['CDH', 'work_time', '연면적(m2)',
                                              '냉방면적(m2)', '시간', '시간_cos', '불쾌지수',
                                              '월', '기온(C)', '시간_sin',
                                              '불쾌지수_이동평균3', '요일', '일', '습도(%)'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['건물번호', 'holiday'],
                                     transformer=SimpleImputer(strategy...
 NaN     -1
 dtype: int64}]))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['건물번호'],
                                     transformer=OneHotEncoder(cols=['건물번호'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('trained_model',
                  ExtraTreesRegressor(max_depth=29, min_samples_split=4,
                                      n_estimators=1000, random_state=5568))]),
 './ensemble-0.pkl')

In [226]:
et_model = finalize_model(et_model)
rf_model = finalize_model(rf_model)
m_0 = [et_model, rf_model]
blender = blend_models(m_0, weights=[0.8,0.2])
save_model(blender,'./ensemble-0')

Initiated  . . . . . . . . . . . . . . . . . .          04:11:55
Status     . . . . . . . . . . . . . . . . . .  Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Voting Regressor

KeyboardInterrupt:

In [66]:
m_2 = [et_model_final, rf_model_final, dt_model_final]
blender = blend_models(m_2)

# clust1

In [64]:
selected_columns1 = ['전력소비량(kWh)','CDH',
'work_time', '연면적(m2)', '냉방면적(m2)', '시간', '건물번호', '시간_cos', 
                     '불쾌지수', '월', '기온(C)', 'holiday', '시간_sin', '불쾌지수_이동평균3',
                     '요일', '일', '습도(%)', 'km_cluster']
combined_clust_train_df = combined_clust_df[selected_columns1]

clust1_train_df = combined_clust_train_df[combined_clust_train_df['km_cluster'] == 1].reset_index(drop=True)

# con_li = ['연면적(m2)','냉방면적(m2)','시간_cos','CDH',
#           '불쾌지수','불쾌지수_이동평균3','시간',
#           '시간_sin','기온(C)','습도(%)']

# sc = StandardScaler()
# clust1_train_df[con_li] = sc.fit_transform(clust1_train_df[con_li])

In [65]:
# 앙상블
cat_li = ['건물번호',  'holiday']

# pycaret 설정
exp0 = setup(data=clust1_train_df.drop(columns=['km_cluster']), target='전력소비량(kWh)', 
             categorical_features=cat_li, train_size=len(clust1_train_df)-clust1_train_df['건물번호'].nunique()*168)
exp0.add_metric('smape','SMAPE',smape,greater_is_better=False)
# 기본 모델 생성
et_model = create_model('et')  # 선형 회귀 모델
rf_model = create_model('rf')  # 랜덤 포레스트 모델
# catboost_model = create_model('catboost')  # catboost 모델
# lightgbm_model = create_model('lightgbm')  # LightGBM 모델
# dt_model = create_model('dt')  # dt 모델
# xgboost_model = create_model('xgboost')

In [35]:
exp = setup(data=clust1_train_df, target='전력소비량(kWh)')
exp.add_metric('smape','SMAPE',smape,greater_is_better=False)

# 모델 학습 및 비교
best_model = compare_models(sort='SMAPE')
print(best_model)

ExtraTreesRegressor(n_jobs=-1, random_state=5255)

In [134]:
m_0 = [et_model, rf_model]
blender_0 = blend_models(m_0, weights=[0.5,0.5])

In [135]:
w_li = [[0.6,0.4],[0.65,0.35],[0.7,0.3],[0.75,0.25],[0.8,0.2],[0.85,0.15]]
b_li = []
for w in w_li:
    blender = blend_models(m_0, weights=w)
    b_li.append(blender)

In [66]:
et_model.get_params()

{'bootstrap': False,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 6450,
 'verbose': 0,
 'warm_start': False}

In [67]:
rf_model.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 6450,
 'verbose': 0,
 'warm_start': False}

In [69]:
from pycaret.regression import *
from sklearn.ensemble import ExtraTreesRegressor

X_train, X_valid, y_train, y_valid = train_test_split(clust1_train_df.drop(['km_cluster','전력소비량(kWh)'],axis=1), clust1_train_df['전력소비량(kWh)'], test_size=168*clust1_train_df['건물번호'].nunique())
def objective(trial):
    param = {
        'n_estimators': trial.suggest_int('n_estimators', 300, 800),
    'max_depth' : trial.suggest_int('max_depth', 20, 30),
    'min_samples_split': trial.suggest_int('min_samples_split', 2, 5),
    'min_samples_leaf': trial.suggest_int('min_samples_leaf', 1, 5),
'bootstrap': False,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_weight_fraction_leaf': 0.0,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 6450,
 'verbose': 0,
 'warm_start': False
    }

    model = ExtraTreesRegressor(**param)
    model.fit(X_train,y_train)

    preds = model.predict(X_valid)

    sm = smape(y_valid, preds)

    return sm


study = optuna.create_study(study_name = 'ET Optuna_cluster_0')
study.optimize(objective, n_trials=30, timeout=24000)

et = study.best_trial
et_param = et.params
print('Best Trial : score {},\nparams {}'.format(et.value, et_param))

[I 2023-08-28 08:26:59,172] A new study created in memory with name: ET Optuna_cluster_0
[I 2023-08-28 08:27:00,457] Trial 0 finished with value: 5.107603398683745 and parameters: {'n_estimators': 381, 'max_depth': 20, 'min_samples_split': 5, 'min_samples_leaf': 5}. Best is trial 0 with value: 5.107603398683745.
[I 2023-08-28 08:27:02,986] Trial 1 finished with value: 4.963979698753828 and parameters: {'n_estimators': 771, 'max_depth': 30, 'min_samples_split': 3, 'min_samples_leaf': 4}. Best is trial 1 with value: 4.963979698753828.
[I 2023-08-28 08:27:05,347] Trial 2 finished with value: 4.597968768639047 and parameters: {'n_estimators': 459, 'max_depth': 27, 'min_samples_split': 2, 'min_samples_leaf': 1}. Best is trial 2 with value: 4.597968768639047.
[I 2023-08-28 08:27:06,578] Trial 3 finished with value: 5.096292422791853 and parameters: {'n_estimators': 403, 'max_depth': 23, 'min_samples_split': 5, 'min_samples_leaf': 5}. Best is trial 2 with value: 4.597968768639047.
[I 2023-08-28 08:27:08,425] Trial 4 finished with value: 4.647194721373137 and parameters: {'n_estimators': 487, 'max_depth': 24, 'min_samples_split': 3, 'min_samples_leaf': 2}. Best is trial 2 with value: 4.597968768639047.
[I 2023-08-28 08:27:10,767] Trial 5 finished with value: 4.61493318599436 and parameters: {'n_estimators': 566, 'max_depth': 22, 'min_samples_split': 4, 'min_samples_leaf': 1}. Best is trial 2 with value: 4.597968768639047.
[I 2023-08-28 08:27:13,125] Trial 6 finished with value: 4.650617274029271 and parameters: {'n_estimators': 615, 'max_depth': 23, 'min_samples_split': 3, 'min_samples_leaf': 2}. Best is trial 2 with value: 4.597968768639047.
[I 2023-08-28 08:27:15,727] Trial 7 finished with value: 4.6489674196792015 and parameters: {'n_estimators': 672, 'max_depth': 27, 'min_samples_split': 4, 'min_samples_leaf': 2}. Best is trial 2 with value: 4.597968768639047.
[I 2023-08-28 08:27:17,059] Trial 8 finished with value: 4.655864725430551 and parameters: {'n_estimators': 335, 'max_depth': 29, 'min_samples_split': 2, 'min_samples_leaf': 2}. Best is trial 2 with value: 4.597968768639047.
[I 2023-08-28 08:27:19,374] Trial 9 finished with value: 4.787161980086874 and parameters: {'n_estimators': 679, 'max_depth': 25, 'min_samples_split': 3, 'min_samples_leaf': 3}. Best is trial 2 with value: 4.597968768639047.
[I 2023-08-28 08:27:21,836] Trial 10 finished with value: 4.597852972982238 and parameters: {'n_estimators': 470, 'max_depth': 27, 'min_samples_split': 2, 'min_samples_leaf': 1}. Best is trial 10 with value: 4.597852972982238.
[I 2023-08-28 08:27:24,451] Trial 11 finished with value: 4.595816440752953 and parameters: {'n_estimators': 499, 'max_depth': 27, 'min_samples_split': 2, 'min_samples_leaf': 1}. Best is trial 11 with value: 4.595816440752953.
[I 2023-08-28 08:27:26,967] Trial 12 finished with value: 4.595559167382303 and parameters: {'n_estimators': 493, 'max_depth': 27, 'min_samples_split': 2, 'min_samples_leaf': 1}. Best is trial 12 with value: 4.595559167382303.
[I 2023-08-28 08:27:28,874] Trial 13 finished with value: 4.792928477942532 and parameters: {'n_estimators': 539, 'max_depth': 28, 'min_samples_split': 2, 'min_samples_leaf': 3}. Best is trial 12 with value: 4.595559167382303.
[I 2023-08-28 08:27:31,735] Trial 14 finished with value: 4.595882292472759 and parameters: {'n_estimators': 543, 'max_depth': 26, 'min_samples_split': 2, 'min_samples_leaf': 1}. Best is trial 12 with value: 4.595559167382303.
[I 2023-08-28 08:27:33,914] Trial 15 finished with value: 4.599653861190527 and parameters: {'n_estimators': 419, 'max_depth': 30, 'min_samples_split': 2, 'min_samples_leaf': 1}. Best is trial 12 with value: 4.595559167382303.
[I 2023-08-28 08:27:35,000] Trial 16 finished with value: 4.978444255167166 and parameters: {'n_estimators': 319, 'max_depth': 25, 'min_samples_split': 4, 'min_samples_leaf': 4}. Best is trial 12 with value: 4.595559167382303.
[I 2023-08-28 08:27:37,403] Trial 17 finished with value: 4.650541062722575 and parameters: {'n_estimators': 622, 'max_depth': 28, 'min_samples_split': 3, 'min_samples_leaf': 2}. Best is trial 12 with value: 4.595559167382303.
[I 2023-08-28 08:27:39,159] Trial 18 finished with value: 4.787880621322576 and parameters: {'n_estimators': 513, 'max_depth': 26, 'min_samples_split': 2, 'min_samples_leaf': 3}. Best is trial 12 with value: 4.595559167382303.
[I 2023-08-28 08:27:41,870] Trial 19 finished with value: 4.602425582297206 and parameters: {'n_estimators': 594, 'max_depth': 29, 'min_samples_split': 3, 'min_samples_leaf': 1}. Best is trial 12 with value: 4.595559167382303.
[I 2023-08-28 08:27:44,595] Trial 20 finished with value: 4.791934697326526 and parameters: {'n_estimators': 799, 'max_depth': 26, 'min_samples_split': 2, 'min_samples_leaf': 3}. Best is trial 12 with value: 4.595559167382303.
[I 2023-08-28 08:27:47,309] Trial 21 finished with value: 4.596671301201207 and parameters: {'n_estimators': 533, 'max_depth': 28, 'min_samples_split': 2, 'min_samples_leaf': 1}. Best is trial 12 with value: 4.595559167382303.
[I 2023-08-28 08:27:49,705] Trial 22 finished with value: 4.601890707867516 and parameters: {'n_estimators': 461, 'max_depth': 26, 'min_samples_split': 2, 'min_samples_leaf': 1}. Best is trial 12 with value: 4.595559167382303.
[I 2023-08-28 08:27:51,400] Trial 23 finished with value: 4.644575864194679 and parameters: {'n_estimators': 430, 'max_depth': 24, 'min_samples_split': 2, 'min_samples_leaf': 2}. Best is trial 12 with value: 4.595559167382303.
[I 2023-08-28 08:27:53,986] Trial 24 finished with value: 4.5985787305653005 and parameters: {'n_estimators': 577, 'max_depth': 26, 'min_samples_split': 3, 'min_samples_leaf': 1}. Best is trial 12 with value: 4.595559167382303.
[I 2023-08-28 08:27:55,853] Trial 25 finished with value: 4.653246383794859 and parameters: {'n_estimators': 488, 'max_depth': 27, 'min_samples_split': 2, 'min_samples_leaf': 2}. Best is trial 12 with value: 4.595559167382303.
[I 2023-08-28 08:27:58,839] Trial 26 finished with value: 4.6007347396939196 and parameters: {'n_estimators': 660, 'max_depth': 29, 'min_samples_split': 3, 'min_samples_leaf': 1}. Best is trial 12 with value: 4.595559167382303.
[I 2023-08-28 08:28:00,842] Trial 27 finished with value: 4.591788552631553 and parameters: {'n_estimators': 370, 'max_depth': 25, 'min_samples_split': 2, 'min_samples_leaf': 1}. Best is trial 27 with value: 4.591788552631553.
[I 2023-08-28 08:28:02,273] Trial 28 finished with value: 4.641352266712412 and parameters: {'n_estimators': 365, 'max_depth': 24, 'min_samples_split': 4, 'min_samples_leaf': 2}. Best is trial 27 with value: 4.591788552631553.
[I 2023-08-28 08:28:03,458] Trial 29 finished with value: 4.9673759617351605 and parameters: {'n_estimators': 368, 'max_depth': 21, 'min_samples_split': 2, 'min_samples_leaf': 4}. Best is trial 27 with value: 4.591788552631553.

Best Trial : score 4.591788552631553,
params {'n_estimators': 370, 'max_depth': 25, 'min_samples_split': 2, 'min_samples_leaf': 1}

In [70]:
from sklearn.ensemble import RandomForestRegressor
X_train, X_valid, y_train, y_valid = train_test_split(clust1_train_df.drop(['km_cluster','전력소비량(kWh)'],axis=1), clust1_train_df['전력소비량(kWh)'], test_size=168*clust1_train_df['건물번호'].nunique())

def objective(trial):
    param = {
        'n_estimators': trial.suggest_int('n_estimators', 100, 1000),
        'criterion': 'squared_error',
        'max_depth' : trial.suggest_int('max_depth', 10, 30),
        'min_samples_split': trial.suggest_int('min_samples_split', 3, 10),
        'min_samples_leaf': trial.suggest_int('min_samples_leaf', 3, 5),
        'bootstrap': True,
 'ccp_alpha': 0.0,
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_weight_fraction_leaf': 0.0,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 6450,
 'verbose': 1,
 'warm_start': False
    }

    model = RandomForestRegressor(**param)
    model.fit(X_train,y_train)

    preds = model.predict(X_valid)

    sm = smape(y_valid, preds)

    
    return sm

study_0 = optuna.create_study(study_name = 'RF Optuna_0')
study_0.optimize(objective, n_trials=50, timeout=24000)

rf_0 = study_0.best_trial
rf_0_param = rf_0.params
print('Best Trial: score {},\nparams {}'.format(rf_0.value, rf_0_param))

[I 2023-08-28 08:29:44,017] A new study created in memory with name: RF Optuna_0
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.2s
[Parallel(n_jobs=-1)]: Done 780 out of 780 | elapsed:    5.9s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 780 out of 780 | elapsed:    0.1s finished
[I 2023-08-28 08:29:50,235] Trial 0 finished with value: 5.371116116877223 and parameters: {'n_estimators': 780, 'max_depth': 28, 'min_samples_split': 4, 'min_samples_leaf': 3}. Best is trial 0 with value: 5.371116116877223.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.1s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    2.7s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    4.9s
[Parallel(n_jobs=-1)]: Done 861 out of 861 | elapsed:    5.6s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 861 out of 861 | elapsed:    0.1s finished
[I 2023-08-28 08:29:56,134] Trial 1 finished with value: 5.878567440965663 and parameters: {'n_estimators': 861, 'max_depth': 15, 'min_samples_split': 4, 'min_samples_leaf': 5}. Best is trial 0 with value: 5.371116116877223.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.0s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done 783 out of 783 | elapsed:    4.6s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 783 out of 783 | elapsed:    0.2s finished
[I 2023-08-28 08:30:01,058] Trial 2 finished with value: 6.324872405442014 and parameters: {'n_estimators': 783, 'max_depth': 12, 'min_samples_split': 4, 'min_samples_leaf': 4}. Best is trial 0 with value: 5.371116116877223.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.1s
[Parallel(n_jobs=-1)]: Done 415 out of 415 | elapsed:    2.6s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 415 out of 415 | elapsed:    0.1s finished
[I 2023-08-28 08:30:03,885] Trial 3 finished with value: 6.092299145499315 and parameters: {'n_estimators': 415, 'max_depth': 13, 'min_samples_split': 5, 'min_samples_leaf': 4}. Best is trial 0 with value: 5.371116116877223.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.2s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    2.9s
[Parallel(n_jobs=-1)]: Done 542 out of 542 | elapsed:    3.8s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 542 out of 542 | elapsed:    0.1s finished
[I 2023-08-28 08:30:07,924] Trial 4 finished with value: 5.610607486234514 and parameters: {'n_estimators': 542, 'max_depth': 17, 'min_samples_split': 4, 'min_samples_leaf': 4}. Best is trial 0 with value: 5.371116116877223.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.2s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    2.9s
[Parallel(n_jobs=-1)]: Done 551 out of 551 | elapsed:    3.8s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 551 out of 551 | elapsed:    0.1s finished
[I 2023-08-28 08:30:12,015] Trial 5 finished with value: 5.629169406466288 and parameters: {'n_estimators': 551, 'max_depth': 25, 'min_samples_split': 3, 'min_samples_leaf': 5}. Best is trial 0 with value: 5.371116116877223.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 149 out of 149 | elapsed:    1.0s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 149 out of 149 | elapsed:    0.0s finished
[I 2023-08-28 08:30:13,068] Trial 6 finished with value: 6.17197566409264 and parameters: {'n_estimators': 149, 'max_depth': 13, 'min_samples_split': 3, 'min_samples_leaf': 5}. Best is trial 0 with value: 5.371116116877223.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done 622 out of 622 | elapsed:    4.5s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 622 out of 622 | elapsed:    0.1s finished
[I 2023-08-28 08:30:17,843] Trial 7 finished with value: 5.504477404973185 and parameters: {'n_estimators': 622, 'max_depth': 23, 'min_samples_split': 7, 'min_samples_leaf': 4}. Best is trial 0 with value: 5.371116116877223.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.2s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    2.9s
[Parallel(n_jobs=-1)]: Done 608 out of 608 | elapsed:    4.2s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 608 out of 608 | elapsed:    0.1s finished
[I 2023-08-28 08:30:22,350] Trial 8 finished with value: 5.629929792810406 and parameters: {'n_estimators': 608, 'max_depth': 29, 'min_samples_split': 7, 'min_samples_leaf': 5}. Best is trial 0 with value: 5.371116116877223.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 178 out of 178 | elapsed:    1.4s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 178 out of 178 | elapsed:    0.0s finished
[I 2023-08-28 08:30:23,836] Trial 9 finished with value: 5.382692389835799 and parameters: {'n_estimators': 178, 'max_depth': 22, 'min_samples_split': 4, 'min_samples_leaf': 3}. Best is trial 0 with value: 5.371116116877223.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done 760 tasks      | elapsed:    5.7s
[Parallel(n_jobs=-1)]: Done 956 out of 956 | elapsed:    7.1s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 760 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 956 out of 956 | elapsed:    0.2s finished
[I 2023-08-28 08:30:31,288] Trial 10 finished with value: 5.503420588606359 and parameters: {'n_estimators': 956, 'max_depth': 29, 'min_samples_split': 10, 'min_samples_leaf': 3}. Best is trial 0 with value: 5.371116116877223.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 110 out of 110 | elapsed:    0.9s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 110 out of 110 | elapsed:    0.0s finished
[I 2023-08-28 08:30:32,264] Trial 11 finished with value: 5.393747285093913 and parameters: {'n_estimators': 110, 'max_depth': 21, 'min_samples_split': 6, 'min_samples_leaf': 3}. Best is trial 0 with value: 5.371116116877223.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 343 out of 343 | elapsed:    2.6s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 343 out of 343 | elapsed:    0.1s finished
[I 2023-08-28 08:30:35,087] Trial 12 finished with value: 5.46720939009217 and parameters: {'n_estimators': 343, 'max_depth': 26, 'min_samples_split': 9, 'min_samples_leaf': 3}. Best is trial 0 with value: 5.371116116877223.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done 734 out of 734 | elapsed:    5.5s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 734 out of 734 | elapsed:    0.1s finished
[I 2023-08-28 08:30:40,876] Trial 13 finished with value: 5.410469744789992 and parameters: {'n_estimators': 734, 'max_depth': 19, 'min_samples_split': 6, 'min_samples_leaf': 3}. Best is trial 0 with value: 5.371116116877223.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done 263 out of 263 | elapsed:    2.1s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 263 out of 263 | elapsed:    0.1s finished
[I 2023-08-28 08:30:43,169] Trial 14 finished with value: 5.3670274527055515 and parameters: {'n_estimators': 263, 'max_depth': 26, 'min_samples_split': 5, 'min_samples_leaf': 3}. Best is trial 14 with value: 5.3670274527055515.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 392 out of 392 | elapsed:    3.1s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 392 out of 392 | elapsed:    0.1s finished
[I 2023-08-28 08:30:46,467] Trial 15 finished with value: 5.370090100149525 and parameters: {'n_estimators': 392, 'max_depth': 26, 'min_samples_split': 5, 'min_samples_leaf': 3}. Best is trial 14 with value: 5.3670274527055515.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 303 out of 303 | elapsed:    2.4s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 303 out of 303 | elapsed:    0.1s finished
[I 2023-08-28 08:30:49,020] Trial 16 finished with value: 5.3686531872657755 and parameters: {'n_estimators': 303, 'max_depth': 25, 'min_samples_split': 5, 'min_samples_leaf': 3}. Best is trial 14 with value: 5.3670274527055515.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 258 out of 258 | elapsed:    2.0s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 258 out of 258 | elapsed:    0.1s finished
[I 2023-08-28 08:30:51,128] Trial 17 finished with value: 5.510009409202933 and parameters: {'n_estimators': 258, 'max_depth': 24, 'min_samples_split': 8, 'min_samples_leaf': 4}. Best is trial 14 with value: 5.3670274527055515.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 289 out of 289 | elapsed:    2.3s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 289 out of 289 | elapsed:    0.1s finished
[I 2023-08-28 08:30:53,560] Trial 18 finished with value: 5.3684812997301625 and parameters: {'n_estimators': 289, 'max_depth': 27, 'min_samples_split': 5, 'min_samples_leaf': 3}. Best is trial 14 with value: 5.3670274527055515.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 410 tasks      | elapsed:    3.2s
[Parallel(n_jobs=-1)]: Done 453 out of 453 | elapsed:    3.5s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 410 tasks      | elapsed:    0.1s
[Parallel(n_jobs=20)]: Done 453 out of 453 | elapsed:    0.1s finished
[I 2023-08-28 08:30:57,286] Trial 19 finished with value: 5.371359198635886 and parameters: {'n_estimators': 453, 'max_depth': 30, 'min_samples_split': 6, 'min_samples_leaf': 3}. Best is trial 14 with value: 5.3670274527055515.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 218 out of 218 | elapsed:    1.7s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 218 out of 218 | elapsed:    0.0s finished
[I 2023-08-28 08:30:59,084] Trial 20 finished with value: 5.516994283668041 and parameters: {'n_estimators': 218, 'max_depth': 27, 'min_samples_split': 8, 'min_samples_leaf': 4}. Best is trial 14 with value: 5.3670274527055515.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 283 out of 283 | elapsed:    2.2s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 283 out of 283 | elapsed:    0.1s finished
[I 2023-08-28 08:31:01,419] Trial 21 finished with value: 5.408690328855999 and parameters: {'n_estimators': 283, 'max_depth': 19, 'min_samples_split': 5, 'min_samples_leaf': 3}. Best is trial 14 with value: 5.3670274527055515.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 322 out of 322 | elapsed:    2.5s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 322 out of 322 | elapsed:    0.1s finished
[I 2023-08-28 08:31:04,097] Trial 22 finished with value: 5.3737226228228945 and parameters: {'n_estimators': 322, 'max_depth': 24, 'min_samples_split': 5, 'min_samples_leaf': 3}. Best is trial 14 with value: 5.3670274527055515.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 229 out of 229 | elapsed:    1.8s finished
[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  10 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 160 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done 229 out of 229 | elapsed:    0.0s finished
[I 2023-08-28 08:31:06,026] Trial 23 finished with value: 5.374632191689834 and parameters: {'n_estimators': 229, 'max_depth': 27, 'min_samples_split': 6, 'min_samples_leaf': 3}. Best is trial 14 with value: 5.3670274527055515.

Best Trial: score 5.366580615454058,
params {'n_estimators': 286, 'max_depth': 25, 'min_samples_split': 4, 'min_samples_leaf': 3}

In [71]:
et_param_0 = {'bootstrap': False,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_weight_fraction_leaf': 0.0,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 6450,
 'verbose': 0,
 'warm_start': False,'n_estimators': 370, 'max_depth': 25, 'min_samples_split': 2, 'min_samples_leaf': 1}

rf_param_0 = {'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 6450,
 'verbose': 0,
 'warm_start': False}
et_0 = ExtraTreesRegressor(**et_params_0)
rf_0 = RandomForestRegressor(**rf_params_0)

In [72]:
m_0 = [et_0, rf_0]
blender_7 = blend_models(m_0, weights=[0.9,0.1])

In [75]:
# 만약 많이 안좋으면 et 단일모델로 간다.
# f_blender = finalize_model(blender_7)
save_model(et_0,'./ensemble-1')

# cluster2도 마찬가지로 다시해야된다.

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=/tmp/joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['CDH', 'work_time', '연면적(m2)',
                                              '냉방면적(m2)', '시간', '시간_cos', '불쾌지수',
                                              '월', '기온(C)', '시간_sin',
                                              '불쾌지수_이동평균3', '요일', '일', '습도(%)'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['건물번호', 'holiday'],
                                     transformer=SimpleImputer(strategy...
 NaN     -1
 dtype: int64}]))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['건물번호'],
                                     transformer=OneHotEncoder(cols=['건물번호'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('trained_model',
                  ExtraTreesRegressor(max_depth=29, min_samples_split=4,
                                      n_estimators=1000, random_state=5568))]),
 './ensemble-1.pkl')

# cluster2

In [79]:
selected_columns2 = ['전력소비량(kWh)','CDH',
 '건물번호',
 '냉방면적(m2)',
 '연면적(m2)',
 '시간',
 '불쾌지수',
 '월',
 '시간_sin',
 '불쾌지수_이동평균3',
 'holiday',
 '시간_cos',
 '일',
 '습도(%)',
 '요일',
 '기온(C)',
 '풍속(m/s)',
 'km_cluster']
combined_clust_train_df = combined_clust_df[selected_columns2]

clust2_train_df = combined_clust_train_df[combined_clust_train_df['km_cluster'] == 2].reset_index(drop=True)

# con_li = ['연면적(m2)','냉방면적(m2)','시간_cos','CDH',
#           '불쾌지수','불쾌지수_이동평균3','시간',
#           '시간_sin','기온(C)','습도(%)']

# sc = StandardScaler()
# clust1_train_df[con_li] = sc.fit_transform(clust1_train_df[con_li])

In [80]:
# 앙상블


cat_li = ['건물번호',  'holiday']

# pycaret 설정
exp0 = setup(data=clust2_train_df.drop(columns=['km_cluster']), target='전력소비량(kWh)', 
             categorical_features=cat_li, train_size=len(clust2_train_df)-clust2_train_df['건물번호'].nunique()*168)
exp0.add_metric('smape','SMAPE',smape,greater_is_better=False)
# 기본 모델 생성
et_model = create_model('et')  # 선형 회귀 모델
# rf_model = create_model('rf')  # 랜덤 포레스트 모델
catboost_model = create_model('catboost')  # catboost 모델
# lightgbm_model = create_model('lightgbm')  # LightGBM 모델
# dt_model = create_model('dt')  # dt 모델
# xgboost_model = create_model('xgboost')

In [30]:
et_model.get_params()

{'bootstrap': False,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 7291,
 'verbose': 0,
 'warm_start': False}

In [31]:
catboost_model.get_params()

{'loss_function': 'RMSE',
 'border_count': 254,
 'verbose': False,
 'task_type': 'CPU',
 'random_state': 7291}

In [140]:
m_0 = [et_model, catboost_model]
m_1 = [et_model, rf_model, catboost_model, xgboost_model]
w_li_0 = [[0.6,0.4],[0.7,0.3],[0.8,0.2],[0.9,0.1]]
w_li_1 = [[0.5,0.1,0.3,0.1],[0.4,0.2,0.3,0.1]]
b_li_0 = []
b_li_1 = []
for w in w_li_0:
    blender= blend_models(m_0, weights=w)
for w in w_li_1:
    blender= blend_models(m_1, weights=w)

In [141]:
blender_7 = blend_models(m_1,weights=[0.6,0.1,0.2,0.1])

In [142]:
blender_8 = blend_models(m_0,weights=[0.5,0.5])

In [143]:
blender_9 = blend_models(m_0,weights=[0.55,0.45])

In [81]:
from catboost import CatBoostRegressor
et_param_2 = {'bootstrap': False,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': 28,
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 7291,
 'verbose': 0,
 'warm_start': False}
cat_param_2 = {'loss_function': 'RMSE',
 'border_count': 254,'iterations': 494,'learning_rate': 0.04511244169304455,
 'verbose': False,'depth': 13, 'l2_leaf_reg': 2.5, 'min_child_samples': 1,
 'task_type': 'CPU',
 'random_state': 7291}
et_2 = ExtraTreesRegressor(**et_param_2)
cat_2 = CatBoostRegressor(**cat_param_2)

In [62]:
# m_0 = [et_2, cat_2]
# blender_0 = blend_models(m_0,weights=[0.5,0.5])

In [82]:
# 2.0542
# f_blender = finalize_model(blender_0)
save_model(et_2,'./ensemble-2-et')
save_model(cat_2,'./ensemble-2-cat')
# or
# # save_model(b_li_1[num],'./ensemble-2')
# or
# # save_model(blender_7,'./ensemble-2')
# or
# # save_model(blender_8,'./ensemble-2')
# or
# # save_model(blender_8,'./ensemble-2')

Transformation Pipeline and Model Successfully Saved
Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=/tmp/joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['CDH', '냉방면적(m2)', '연면적(m2)', '시간',
                                              '불쾌지수', '월', '시간_sin',
                                              '불쾌지수_이동평균3', '시간_cos', '일',
                                              '습도(%)', '요일', '기온(C)',
                                              '풍속(m/s)'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['건물번호', 'holiday'],
                                     transformer=SimpleImputer(strategy='...
                                                                          'data_type': dtype('O'),
                                                                          'mapping': False    0
 True     1
 NaN     -1
 dtype: int64}]))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['건물번호'],
                                     transformer=OneHotEncoder(cols=['건물번호'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('trained_model',
                  <catboost.core.CatBoostRegressor object at 0x2b3ceef54550>)]),
 './ensemble-2-cat.pkl')

# clust3

In [83]:
selected_columns3 = ['전력소비량(kWh)',
'work_time',
 '연면적(m2)',
 '냉방면적(m2)',
 '시간',
 '건물번호',
 '시간_cos',
 '불쾌지수',
 '월',
 '기온(C)',
 'holiday',
 '시간_sin',
 '불쾌지수_이동평균3',
 '요일',
 '일',
 '습도(%)',
 '태양광용량(kW)','CDH',
'km_cluster']
combined_clust_train_df = combined_clust_df[selected_columns3]

clust3_train_df = combined_clust_train_df[combined_clust_train_df['km_cluster'] == 3].reset_index(drop=True)

# con_li = ['연면적(m2)','냉방면적(m2)','시간_cos','CDH',
#           '불쾌지수','불쾌지수_이동평균3','시간','태양광용량(kW)','CDH',
#           '시간_sin','기온(C)','습도(%)']

# sc = StandardScaler()
# clust3_train_df[con_li] = sc.fit_transform(clust3_train_df[con_li])

In [84]:

cat_li = ['건물번호',  'holiday','work_time']

# pycaret 설정
exp0 = setup(data=clust3_train_df.drop(columns=['km_cluster']), target='전력소비량(kWh)', 
             categorical_features=cat_li, train_size=len(clust3_train_df)-clust3_train_df['건물번호'].nunique()*168)
exp0.add_metric('smape','SMAPE',smape,greater_is_better=False)
et_model = create_model('et')
rf_model = create_model('rf')  # 랜덤 포레스트 모델
# catboost_model = create_model('catboost')  # catboost 모델
# lightgbm_model = create_model('lightgbm')  # LightGBM 모델
# dt_model = create_model('dt')  # dt 모델
# xgboost_model = create_model('xgboost')

Warning: No categorical columns found. Calling 'transform' will only return input data.

In [157]:
m_0 = [et_model, rf_model]
m_1 = [et_model, rf_model, dt_model]
w_li_0 = [[0.6,0.4],[0.7,0.3],[0.8,0.2],[0.9,0.1]]
w_li_1 = [[0.5,0.3,0.2],[0.5,0.4,0.1],[0.6,0.3,0.1],[0.7,0.2,0.1],[0.8,0.1,0.1]]
b_li_0 = []
b_li_1 = []
for w in w_li_0 :
    blender = blend_models(m_0,weights=w)
    b_li_0.append(blender)
for w in w_li_1:
    blender = blend_models(m_1,weights=w)
    b_li_1.append(blender)

In [158]:
blend_10 = blend_models(m_0,weights=[0.93,0.07])

In [87]:
et_model.get_params()

{'bootstrap': False,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 7073,
 'verbose': 0,
 'warm_start': False}

In [88]:
rf_model.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 7073,
 'verbose': 0,
 'warm_start': False}

In [ ]:
from pycaret.regression import *
from sklearn.ensemble import ExtraTreesRegressor

X_train, X_valid, y_train, y_valid = train_test_split(clust3_train_df.drop(['km_cluster','전력소비량(kWh)'],axis=1), clust3_train_df['전력소비량(kWh)'], test_size=168*clust3_train_df['건물번호'].nunique())
def objective(trial):
    param = {
        'n_estimators': trial.suggest_int('n_estimators', 300, 800),
    'max_depth' : trial.suggest_int('max_depth', 20, 30),
    'min_samples_split': trial.suggest_int('min_samples_split', 2, 5),
    'min_samples_leaf': trial.suggest_int('min_samples_leaf', 1, 5),
'bootstrap': False,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_weight_fraction_leaf': 0.0,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 7073,
 'verbose': 0,
 'warm_start': False
    }

    model = ExtraTreesRegressor(**param)
    model.fit(X_train,y_train)

    preds = model.predict(X_valid)

    sm = smape(y_valid, preds)

    return sm


study = optuna.create_study(study_name = 'ET Optuna_cluster_0')
study.optimize(objective, n_trials=30, timeout=24000)

et = study.best_trial
et_param = et.params
print('Best Trial : score {},\nparams {}'.format(et.value, et_param))

[I 2023-08-28 08:48:56,285] A new study created in memory with name: ET Optuna_cluster_0
[I 2023-08-28 08:49:02,696] Trial 0 finished with value: 2.873668324680523 and parameters: {'n_estimators': 786, 'max_depth': 23, 'min_samples_split': 4, 'min_samples_leaf': 1}. Best is trial 0 with value: 2.873668324680523.
[I 2023-08-28 08:49:07,747] Trial 1 finished with value: 3.2050981701349692 and parameters: {'n_estimators': 793, 'max_depth': 28, 'min_samples_split': 2, 'min_samples_leaf': 4}. Best is trial 0 with value: 2.873668324680523.
[I 2023-08-28 08:49:12,942] Trial 2 finished with value: 3.0572029067429045 and parameters: {'n_estimators': 767, 'max_depth': 23, 'min_samples_split': 3, 'min_samples_leaf': 3}. Best is trial 0 with value: 2.873668324680523.
[I 2023-08-28 08:49:16,161] Trial 3 finished with value: 3.2034716053266243 and parameters: {'n_estimators': 508, 'max_depth': 30, 'min_samples_split': 4, 'min_samples_leaf': 4}. Best is trial 0 with value: 2.873668324680523.
[I 2023-08-28 08:49:19,648] Trial 4 finished with value: 2.842359426404162 and parameters: {'n_estimators': 384, 'max_depth': 29, 'min_samples_split': 3, 'min_samples_leaf': 1}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:49:25,761] Trial 5 finished with value: 2.9155706626583915 and parameters: {'n_estimators': 798, 'max_depth': 27, 'min_samples_split': 2, 'min_samples_leaf': 2}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:49:28,779] Trial 6 finished with value: 3.2031307536309637 and parameters: {'n_estimators': 482, 'max_depth': 30, 'min_samples_split': 5, 'min_samples_leaf': 4}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:49:34,565] Trial 7 finished with value: 2.9142348066264954 and parameters: {'n_estimators': 746, 'max_depth': 29, 'min_samples_split': 2, 'min_samples_leaf': 2}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:49:37,139] Trial 8 finished with value: 2.8876562960073278 and parameters: {'n_estimators': 330, 'max_depth': 29, 'min_samples_split': 5, 'min_samples_leaf': 1}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:49:41,511] Trial 9 finished with value: 3.2237857824260225 and parameters: {'n_estimators': 711, 'max_depth': 21, 'min_samples_split': 3, 'min_samples_leaf': 4}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:49:44,165] Trial 10 finished with value: 2.9147759243696907 and parameters: {'n_estimators': 340, 'max_depth': 26, 'min_samples_split': 3, 'min_samples_leaf': 2}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:49:49,217] Trial 11 finished with value: 2.868672886236086 and parameters: {'n_estimators': 623, 'max_depth': 24, 'min_samples_split': 4, 'min_samples_leaf': 1}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:49:54,334] Trial 12 finished with value: 2.8690398000758655 and parameters: {'n_estimators': 620, 'max_depth': 24, 'min_samples_split': 4, 'min_samples_leaf': 1}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:49:57,440] Trial 13 finished with value: 2.9891010493205092 and parameters: {'n_estimators': 414, 'max_depth': 20, 'min_samples_split': 4, 'min_samples_leaf': 2}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:50:01,170] Trial 14 finished with value: 3.3306422017990416 and parameters: {'n_estimators': 623, 'max_depth': 25, 'min_samples_split': 3, 'min_samples_leaf': 5}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:50:05,891] Trial 15 finished with value: 2.889041170153092 and parameters: {'n_estimators': 615, 'max_depth': 26, 'min_samples_split': 5, 'min_samples_leaf': 1}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:50:08,729] Trial 16 finished with value: 3.0686521558303963 and parameters: {'n_estimators': 419, 'max_depth': 22, 'min_samples_split': 3, 'min_samples_leaf': 3}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:50:13,322] Trial 17 finished with value: 2.8645479854497258 and parameters: {'n_estimators': 562, 'max_depth': 25, 'min_samples_split': 4, 'min_samples_leaf': 1}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:50:17,663] Trial 18 finished with value: 2.914801645845935 and parameters: {'n_estimators': 551, 'max_depth': 27, 'min_samples_split': 3, 'min_samples_leaf': 2}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:50:20,526] Trial 19 finished with value: 3.0595543296383707 and parameters: {'n_estimators': 410, 'max_depth': 25, 'min_samples_split': 4, 'min_samples_leaf': 3}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:50:24,782] Trial 20 finished with value: 2.886880974138838 and parameters: {'n_estimators': 543, 'max_depth': 27, 'min_samples_split': 5, 'min_samples_leaf': 1}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:50:30,477] Trial 21 finished with value: 2.867359542568754 and parameters: {'n_estimators': 697, 'max_depth': 24, 'min_samples_split': 4, 'min_samples_leaf': 1}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:50:36,099] Trial 22 finished with value: 2.8675716987876068 and parameters: {'n_estimators': 680, 'max_depth': 24, 'min_samples_split': 4, 'min_samples_leaf': 1}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:50:41,453] Trial 23 finished with value: 2.9137310964240952 and parameters: {'n_estimators': 678, 'max_depth': 26, 'min_samples_split': 4, 'min_samples_leaf': 2}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:50:45,644] Trial 24 finished with value: 2.848173064509948 and parameters: {'n_estimators': 470, 'max_depth': 23, 'min_samples_split': 3, 'min_samples_leaf': 1}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:50:49,195] Trial 25 finished with value: 2.934002087848173 and parameters: {'n_estimators': 459, 'max_depth': 22, 'min_samples_split': 3, 'min_samples_leaf': 2}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:50:52,894] Trial 26 finished with value: 2.850184580255715 and parameters: {'n_estimators': 373, 'max_depth': 23, 'min_samples_split': 2, 'min_samples_leaf': 1}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:50:55,099] Trial 27 finished with value: 3.342180001054598 and parameters: {'n_estimators': 365, 'max_depth': 22, 'min_samples_split': 2, 'min_samples_leaf': 5}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:50:57,943] Trial 28 finished with value: 2.9499906775655735 and parameters: {'n_estimators': 379, 'max_depth': 21, 'min_samples_split': 2, 'min_samples_leaf': 2}. Best is trial 4 with value: 2.842359426404162.
[I 2023-08-28 08:51:00,950] Trial 29 finished with value: 2.851130686473846 and parameters: {'n_estimators': 300, 'max_depth': 23, 'min_samples_split': 2, 'min_samples_leaf': 1}. Best is trial 4 with value: 2.842359426404162.

Best Trial : score 2.842359426404162,
params {'n_estimators': 384, 'max_depth': 29, 'min_samples_split': 3, 'min_samples_leaf': 1}

In [90]:

from sklearn.ensemble import RandomForestRegressor
X_train, X_valid, y_train, y_valid = train_test_split(clust3_train_df.drop(['km_cluster','전력소비량(kWh)'],axis=1), clust3_train_df['전력소비량(kWh)'], test_size=168*clust3_train_df['건물번호'].nunique())

def objective(trial):
    param = {
        'n_estimators': trial.suggest_int('n_estimators', 100, 1000),
        'criterion': 'squared_error',
        'max_depth' : trial.suggest_int('max_depth', 10, 30),
        'min_samples_split': trial.suggest_int('min_samples_split', 3, 10),
        'min_samples_leaf': trial.suggest_int('min_samples_leaf', 3, 5),
'bootstrap': True,
 'ccp_alpha': 0.0,
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_weight_fraction_leaf': 0.0,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 7073,
 'verbose': 0,
 'warm_start': False
    }

    model = RandomForestRegressor(**param)
    model.fit(X_train,y_train)

    preds = model.predict(X_valid)

    sm = smape(y_valid, preds)

    
    return sm

study_0 = optuna.create_study(study_name = 'RF Optuna_0')
study_0.optimize(objective, n_trials=50, timeout=24000)

rf_0 = study_0.best_trial
rf_0_param = rf_0.params
print('Best Trial: score {},\nparams {}'.format(rf_0.value, rf_0_param))

[I 2023-08-28 08:51:00,972] A new study created in memory with name: RF Optuna_0
[I 2023-08-28 08:51:11,681] Trial 0 finished with value: 4.0211250109401835 and parameters: {'n_estimators': 768, 'max_depth': 14, 'min_samples_split': 9, 'min_samples_leaf': 3}. Best is trial 0 with value: 4.0211250109401835.
[I 2023-08-28 08:51:21,860] Trial 1 finished with value: 3.311297069322465 and parameters: {'n_estimators': 616, 'max_depth': 20, 'min_samples_split': 6, 'min_samples_leaf': 3}. Best is trial 1 with value: 3.311297069322465.
[I 2023-08-28 08:51:33,823] Trial 2 finished with value: 3.2879580027869415 and parameters: {'n_estimators': 717, 'max_depth': 29, 'min_samples_split': 6, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:51:48,647] Trial 3 finished with value: 3.3830956894715394 and parameters: {'n_estimators': 934, 'max_depth': 19, 'min_samples_split': 8, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:51:58,363] Trial 4 finished with value: 6.992463737234725 and parameters: {'n_estimators': 893, 'max_depth': 10, 'min_samples_split': 9, 'min_samples_leaf': 4}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:52:10,570] Trial 5 finished with value: 3.53335866479447 and parameters: {'n_estimators': 798, 'max_depth': 23, 'min_samples_split': 6, 'min_samples_leaf': 5}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:52:21,294] Trial 6 finished with value: 3.5330208873721056 and parameters: {'n_estimators': 691, 'max_depth': 24, 'min_samples_split': 6, 'min_samples_leaf': 5}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:52:26,222] Trial 7 finished with value: 3.4275038709657877 and parameters: {'n_estimators': 304, 'max_depth': 24, 'min_samples_split': 3, 'min_samples_leaf': 4}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:52:33,045] Trial 8 finished with value: 3.4432639957810625 and parameters: {'n_estimators': 424, 'max_depth': 26, 'min_samples_split': 9, 'min_samples_leaf': 4}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:52:44,082] Trial 9 finished with value: 5.163522743795709 and parameters: {'n_estimators': 861, 'max_depth': 12, 'min_samples_split': 5, 'min_samples_leaf': 4}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:52:46,940] Trial 10 finished with value: 3.3066088736176615 and parameters: {'n_estimators': 162, 'max_depth': 30, 'min_samples_split': 3, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:52:48,776] Trial 11 finished with value: 3.3085726210580146 and parameters: {'n_estimators': 100, 'max_depth': 30, 'min_samples_split': 3, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:52:56,668] Trial 12 finished with value: 3.2920069190248182 and parameters: {'n_estimators': 470, 'max_depth': 30, 'min_samples_split': 4, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:53:05,364] Trial 13 finished with value: 3.292078873966137 and parameters: {'n_estimators': 517, 'max_depth': 28, 'min_samples_split': 5, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:53:12,119] Trial 14 finished with value: 3.4526332912553706 and parameters: {'n_estimators': 427, 'max_depth': 17, 'min_samples_split': 4, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:53:21,249] Trial 15 finished with value: 3.41990641801904 and parameters: {'n_estimators': 573, 'max_depth': 27, 'min_samples_split': 7, 'min_samples_leaf': 4}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:53:37,737] Trial 16 finished with value: 3.288827165566109 and parameters: {'n_estimators': 996, 'max_depth': 30, 'min_samples_split': 5, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:53:52,832] Trial 17 finished with value: 3.535013438690114 and parameters: {'n_estimators': 981, 'max_depth': 22, 'min_samples_split': 7, 'min_samples_leaf': 5}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:54:03,860] Trial 18 finished with value: 3.2893653795682374 and parameters: {'n_estimators': 662, 'max_depth': 26, 'min_samples_split': 5, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:54:15,642] Trial 19 finished with value: 3.463524619196671 and parameters: {'n_estimators': 758, 'max_depth': 28, 'min_samples_split': 10, 'min_samples_leaf': 4}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:54:31,200] Trial 20 finished with value: 3.4467325261268154 and parameters: {'n_estimators': 999, 'max_depth': 17, 'min_samples_split': 4, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:54:42,770] Trial 21 finished with value: 3.288774586769176 and parameters: {'n_estimators': 676, 'max_depth': 26, 'min_samples_split': 5, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:54:56,556] Trial 22 finished with value: 3.289155416730702 and parameters: {'n_estimators': 831, 'max_depth': 28, 'min_samples_split': 5, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:55:08,051] Trial 23 finished with value: 3.3123884627200755 and parameters: {'n_estimators': 705, 'max_depth': 25, 'min_samples_split': 7, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:55:14,004] Trial 24 finished with value: 3.2994361325771453 and parameters: {'n_estimators': 351, 'max_depth': 29, 'min_samples_split': 6, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:55:23,499] Trial 25 finished with value: 3.4239923583025154 and parameters: {'n_estimators': 595, 'max_depth': 21, 'min_samples_split': 4, 'min_samples_leaf': 4}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:55:38,654] Trial 26 finished with value: 3.2880956255499667 and parameters: {'n_estimators': 909, 'max_depth': 26, 'min_samples_split': 5, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:55:50,967] Trial 27 finished with value: 3.3430731642975893 and parameters: {'n_estimators': 746, 'max_depth': 26, 'min_samples_split': 8, 'min_samples_leaf': 3}. Best is trial 2 with value: 3.2879580027869415.
[I 2023-08-28 08:56:05,384] Trial 28 finished with value: 3.415322330862197 and parameters: {'n_estimators': 903, 'max_depth': 24, 'min_samples_split': 6, 'min_samples_leaf': 4}. Best is trial 2 with value: 3.2879580027869415.
[W 2023-08-28 08:56:13,449] Trial 29 failed with parameters: {'n_estimators': 652, 'max_depth': 27, 'min_samples_split': 8, 'min_samples_leaf': 3} because of the following error: KeyboardInterrupt().
Traceback (most recent call last):
  File "/scratch/e1430a05/.conda/envs/notebook/lib/python3.10/site-packages/optuna/study/_optimize.py", line 200, in _run_trial
    value_or_values = func(trial)
  File "/tmp/ipykernel_31830/828425561.py", line 26, in objective
    model.fit(X_train,y_train)
  File "/scratch/e1430a05/.conda/envs/notebook/lib/python3.10/site-packages/sklearn/ensemble/_forest.py", line 473, in fit
    trees = Parallel(
  File "/scratch/e1430a05/.conda/envs/notebook/lib/python3.10/site-packages/sklearn/utils/parallel.py", line 63, in __call__
    return super().__call__(iterable_with_config)
  File "/scratch/e1430a05/.conda/envs/notebook/lib/python3.10/site-packages/joblib/parallel.py", line 1952, in __call__
    return output if self.return_generator else list(output)
  File "/scratch/e1430a05/.conda/envs/notebook/lib/python3.10/site-packages/joblib/parallel.py", line 1595, in _get_outputs
    yield from self._retrieve()
  File "/scratch/e1430a05/.conda/envs/notebook/lib/python3.10/site-packages/joblib/parallel.py", line 1707, in _retrieve
    time.sleep(0.01)
KeyboardInterrupt
[W 2023-08-28 08:56:13,452] Trial 29 failed with value None.

KeyboardInterrupt:

In [ ]:
et_model

In [182]:
m_0 = [et_model, rf_model]
blend_10 = blend_models(m_0,weights=[0.95,0.05])

In [183]:
# 2.797
# save_model(b_li_0[num],'./ensemble-3') # 
# or
# save_model(b_li_1[num],'./ensemble-3')
# or
f_blend = finalize_model(blend_10)
save_model(f_blend,'./ensemble-3')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=/tmp/joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['연면적(m2)', '냉방면적(m2)', '시간',
                                              '시간_cos', '불쾌지수', '월', '기온(C)',
                                              '시간_sin', '불쾌지수_이동평균3', '요일', '일',
                                              '습도(%)', '태양광용량(kW)', 'CDH'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['건물번호', 'holiday', 'work_time'],
                                     transformer=SimpleImpu...
                                     transformer=TargetEncoder(cols=[],
                                                               handle_missing='return_nan'))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('actual_estimator',
                  VotingRegressor(estimators=[('Extra Trees Regressor',
                                               ExtraTreesRegressor(n_jobs=-1,
                                                                   random_state=3681)),
                                              ('Random Forest Regressor',
                                               RandomForestRegressor(n_jobs=-1,
                                                                     random_state=3681))],
                                  n_jobs=-1, weights=[0.95, 0.05]))]),
 './ensemble-3.pkl')

# 예측

In [ ]:
selected_columns0.append('건물유형_라벨')
selected_columns1.append('건물유형_라벨')
selected_columns2.append('건물유형_라벨')
selected_columns3.append('건물유형_라벨')

rm_list = ['전력소비량(kWh)', 'km_cluster']
for value in rm_list:
    selected_columns0.remove(value)
    selected_columns1.remove(value)
    selected_columns2.remove(value)
    selected_columns3.remove(value)


test_df_list = [test_df[selected_columns0],test_df[selected_columns1],test_df[selected_columns2],test_df[selected_columns3]]

In [100]:
selected_columns0.append('건물유형_라벨')
selected_columns1.append('건물유형_라벨')
selected_columns2.append('건물유형_라벨')
selected_columns3.append('건물유형_라벨')

rm_list = ['전력소비량(kWh)', 'km_cluster']
for value in rm_list:
    selected_columns0.remove(value)
    selected_columns1.remove(value)
    selected_columns2.remove(value)
    selected_columns3.remove(value)


test_df_list = [test_df[selected_columns0],test_df[selected_columns1],test_df[selected_columns2],test_df[selected_columns3]]

In [103]:
clust_to_num = {0: [1, 3, 9, 11], 1: [5, 12], 2: [4, 8], 3: [2, 6, 7, 10]}

test_df['answer'] = np.nan

et_params_0= {'n_estimators':1000, 'max_depth': 29, 'min_samples_split': 4, 'min_samples_leaf': 1,
       'max_features': 1.0,'criterion': 'squared_error', 'random_state': 5568}
et_0 = ExtraTreesRegressor(**et_params_0)
X = clust0_train_df.drop(['km_cluster','전력소비량(kWh)'],axis=1)
y = clust0_train_df['전력소비량(kWh)']
et_0.fit(X,y)



# 건물유형라벨이 해당 클러스터에 속하는 테스트 데이터 선택
cluster_test_data = test_df_list[0][test_df_list[0]['건물유형_라벨'].isin([1,3,9,11])]
cluster_test_data = cluster_test_data.drop(columns=['건물유형_라벨'])
index_list = cluster_test_data.index.tolist()

preds = et_0.predict(cluster_test_data)

# index_list와 predictions를 이용하여 데이터프레임 생성
answer_df = pd.DataFrame({'answer': preds}, index=index_list)

# 예측 결과를 원래 데이터프레임에 추가
test_df.loc[answer_df.index, 'answer'] = answer_df['answer']


test_df

,건물번호,일시,기온(C),풍속(m/s),습도(%),불쾌지수,불쾌지수_이동평균3,불쾌지수_이동평균5,holiday,월,...,지식산업센터,할인마트,호텔및리조트,건물유형_라벨,태양광여부,work_time,low_day,particular,CDH,answer
0,1,2022-08-25 00:00:00,23.5,2.2,72,71.78980,71.789800,71.789800,False,8,...,0,0,0,1,False,0,0,0,-2.5,2072.395590
1,1,2022-08-25 01:00:00,23.0,0.9,72,71.02840,71.409100,71.409100,False,8,...,0,0,0,1,False,0,0,0,-5.5,2106.334758
2,1,2022-08-25 02:00:00,22.7,1.5,75,70.81675,71.211650,71.211650,False,8,...,0,0,0,1,False,0,0,0,-8.8,1926.321013
3,1,2022-08-25 03:00:00,22.1,1.3,78,70.11262,70.652590,70.936892,False,8,...,0,0,0,1,False,0,0,0,-12.7,1915.876200
4,1,2022-08-25 04:00:00,21.8,1.0,77,69.56514,70.164837,70.662542,False,8,...,0,0,0,1,False,0,0,0,-16.9,1938.749400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16795,100,2022-08-31 19:00:00,22.5,0.9,84,71.22400,72.378973,72.792244,False,8,...,0,0,1,12,False,1,0,0,-34.5,NaN
16796,100,2022-08-31 20:00:00,20.7,0.4,95,68.95035,70.961363,71.899884,False,8,...,0,0,1,12,False,1,0,0,-34.4,NaN
16797,100,2022-08-31 21:00:00,20.2,0.4,98,68.24604,69.473463,70.866662,False,8,...,0,0,1,12,False,1,0,0,-35.3,NaN
16798,100,2022-08-31 22:00:00,20.1,1.1,97,68.01203,68.402807,69.828432,False,8,...,0,0,1,12,False,1,0,0,-36.8,NaN
16799,100,2022-08-31 23:00:00,19.1,0.1,99,66.33391,67.530660,68.553266,False,8,...,0,0,1,12,False,0,0,0,-40.2,NaN

In [104]:
et_param = {'bootstrap': False,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_weight_fraction_leaf': 0.0,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 6450,
 'verbose': 0,
 'warm_start': False,'n_estimators': 370, 'max_depth': 25, 'min_samples_split': 2, 'min_samples_leaf': 1}
et_1 = ExtraTreesRegressor(**et_param)
X = clust1_train_df.drop(['km_cluster','전력소비량(kWh)'],axis=1)
y = clust1_train_df['전력소비량(kWh)']
et_1.fit(X,y)



# 건물유형라벨이 해당 클러스터에 속하는 테스트 데이터 선택
cluster_test_data = test_df_list[1][test_df_list[1]['건물유형_라벨'].isin([5,12])]
cluster_test_data = cluster_test_data.drop(columns=['건물유형_라벨'])
index_list = cluster_test_data.index.tolist()

preds = et_1.predict(cluster_test_data)

# index_list와 predictions를 이용하여 데이터프레임 생성
answer_df = pd.DataFrame({'answer': preds}, index=index_list)

# 예측 결과를 원래 데이터프레임에 추가
test_df.loc[answer_df.index, 'answer'] = answer_df['answer']

In [105]:
test_df

,건물번호,일시,기온(C),풍속(m/s),습도(%),불쾌지수,불쾌지수_이동평균3,불쾌지수_이동평균5,holiday,월,...,지식산업센터,할인마트,호텔및리조트,건물유형_라벨,태양광여부,work_time,low_day,particular,CDH,answer
0,1,2022-08-25 00:00:00,23.5,2.2,72,71.78980,71.789800,71.789800,False,8,...,0,0,0,1,False,0,0,0,-2.5,2072.395590
1,1,2022-08-25 01:00:00,23.0,0.9,72,71.02840,71.409100,71.409100,False,8,...,0,0,0,1,False,0,0,0,-5.5,2106.334758
2,1,2022-08-25 02:00:00,22.7,1.5,75,70.81675,71.211650,71.211650,False,8,...,0,0,0,1,False,0,0,0,-8.8,1926.321013
3,1,2022-08-25 03:00:00,22.1,1.3,78,70.11262,70.652590,70.936892,False,8,...,0,0,0,1,False,0,0,0,-12.7,1915.876200
4,1,2022-08-25 04:00:00,21.8,1.0,77,69.56514,70.164837,70.662542,False,8,...,0,0,0,1,False,0,0,0,-16.9,1938.749400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16795,100,2022-08-31 19:00:00,22.5,0.9,84,71.22400,72.378973,72.792244,False,8,...,0,0,1,12,False,1,0,0,-34.5,869.229568
16796,100,2022-08-31 20:00:00,20.7,0.4,95,68.95035,70.961363,71.899884,False,8,...,0,0,1,12,False,1,0,0,-34.4,758.454486
16797,100,2022-08-31 21:00:00,20.2,0.4,98,68.24604,69.473463,70.866662,False,8,...,0,0,1,12,False,1,0,0,-35.3,706.614486
16798,100,2022-08-31 22:00:00,20.1,1.1,97,68.01203,68.402807,69.828432,False,8,...,0,0,1,12,False,1,0,0,-36.8,576.212270
16799,100,2022-08-31 23:00:00,19.1,0.1,99,66.33391,67.530660,68.553266,False,8,...,0,0,1,12,False,0,0,0,-40.2,483.252649

In [107]:
et_param_2 = {'bootstrap': False,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': 28,
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': 7291,
 'verbose': 0,
 'warm_start': False}
cat_param_2 = {'loss_function': 'RMSE',
 'border_count': 254,'iterations': 494,'learning_rate': 0.04511244169304455,
 'verbose': False,'depth': 13, 'l2_leaf_reg': 2.5, 'min_child_samples': 1,
 'task_type': 'CPU',
 'random_state': 7291}
et_2 = ExtraTreesRegressor(**et_param_2)
cat_2 = CatBoostRegressor(**cat_param_2)

X = clust2_train_df.drop(['km_cluster','전력소비량(kWh)'],axis=1)
y = clust2_train_df['전력소비량(kWh)']
et_2.fit(X,y)
cat_2.fit(X,y)



# 건물유형라벨이 해당 클러스터에 속하는 테스트 데이터 선택
cluster_test_data = test_df_list[2][test_df_list[2]['건물유형_라벨'].isin([4,8])]
cluster_test_data = cluster_test_data.drop(columns=['건물유형_라벨'])
index_list = cluster_test_data.index.tolist()

preds_et = et_2.predict(cluster_test_data)
preds_cat = cat_2.predict(cluster_test_data)
preds = (preds_et + preds_cat)/2

# index_list와 predictions를 이용하여 데이터프레임 생성
answer_df = pd.DataFrame({'answer': preds}, index=index_list)

# 예측 결과를 원래 데이터프레임에 추가
test_df.loc[answer_df.index, 'answer'] = answer_df['answer']

In [ ]:
clust_to_num = {0: [1, 3, 9, 11], 1: [5, 12], 2: [4, 8], 3: [2, 6, 7, 10]}

In [108]:
cluster_model = load_model('ensemble-3')

# 건물유형라벨이 해당 클러스터에 속하는 테스트 데이터 선택
cluster_test_data = test_df_list[3][test_df_list[3]['건물유형_라벨'].isin([2,6,7,10])]
cluster_test_data = cluster_test_data.drop(columns=['건물유형_라벨'])
index_list = cluster_test_data.index.tolist()

# 불러온 모델로 예측 수행
predictions = predict_model(cluster_model, cluster_test_data)

# index_list와 predictions를 이용하여 데이터프레임 생성
answer_df = pd.DataFrame({'answer': predictions['prediction_label']}, index=index_list)

# 예측 결과를 원래 데이터프레임에 추가
test_df.loc[answer_df.index, 'answer'] = answer_df['answer']


test_df

Transformation Pipeline and Model Successfully Loaded

,건물번호,일시,기온(C),풍속(m/s),습도(%),불쾌지수,불쾌지수_이동평균3,불쾌지수_이동평균5,holiday,월,...,지식산업센터,할인마트,호텔및리조트,건물유형_라벨,태양광여부,work_time,low_day,particular,CDH,answer
0,1,2022-08-25 00:00:00,23.5,2.2,72,71.78980,71.789800,71.789800,False,8,...,0,0,0,1,False,0,0,0,-2.5,2072.395590
1,1,2022-08-25 01:00:00,23.0,0.9,72,71.02840,71.409100,71.409100,False,8,...,0,0,0,1,False,0,0,0,-5.5,2106.334758
2,1,2022-08-25 02:00:00,22.7,1.5,75,70.81675,71.211650,71.211650,False,8,...,0,0,0,1,False,0,0,0,-8.8,1926.321013
3,1,2022-08-25 03:00:00,22.1,1.3,78,70.11262,70.652590,70.936892,False,8,...,0,0,0,1,False,0,0,0,-12.7,1915.876200
4,1,2022-08-25 04:00:00,21.8,1.0,77,69.56514,70.164837,70.662542,False,8,...,0,0,0,1,False,0,0,0,-16.9,1938.749400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16795,100,2022-08-31 19:00:00,22.5,0.9,84,71.22400,72.378973,72.792244,False,8,...,0,0,1,12,False,1,0,0,-34.5,869.229568
16796,100,2022-08-31 20:00:00,20.7,0.4,95,68.95035,70.961363,71.899884,False,8,...,0,0,1,12,False,1,0,0,-34.4,758.454486
16797,100,2022-08-31 21:00:00,20.2,0.4,98,68.24604,69.473463,70.866662,False,8,...,0,0,1,12,False,1,0,0,-35.3,706.614486
16798,100,2022-08-31 22:00:00,20.1,1.1,97,68.01203,68.402807,69.828432,False,8,...,0,0,1,12,False,1,0,0,-36.8,576.212270
16799,100,2022-08-31 23:00:00,19.1,0.1,99,66.33391,67.530660,68.553266,False,8,...,0,0,1,12,False,0,0,0,-40.2,483.252649

In [186]:

# 예측값을 저장할 컬럼
test_df['answer'] = np.nan


# 각 클러스터 모델에 대해 예측 수행
for cluster, building_labels in clust_to_num


.items():
    # 해당 클러스터의 모델 불러오기
    cluster_model = load_model(path + 'ensemble-' + str(cluster))

    # 건물유형라벨이 해당 클러스터에 속하는 테스트 데이터 선택
    cluster_test_data = test_df_list[cluster][test_df_list[cluster]['건물유형_라벨'].isin(building_labels)]
    cluster_test_data = cluster_test_data.drop(columns=['건물유형_라벨'])
    index_list = cluster_test_data.index.tolist()

    # 불러온 모델로 예측 수행
    predictions = predict_model(cluster_model, cluster_test_data)

    # index_list와 predictions를 이용하여 데이터프레임 생성
    answer_df = pd.DataFrame({'answer': predictions['prediction_label']}, index=index_list)

    # 예측 결과를 원래 데이터프레임에 추가
    test_df.loc[answer_df.index, 'answer'] = answer_df['answer']


test_df

Transformation Pipeline and Model Successfully Loaded

Transformation Pipeline and Model Successfully Loaded

Transformation Pipeline and Model Successfully Loaded

Transformation Pipeline and Model Successfully Loaded

,건물번호,일시,기온(C),풍속(m/s),습도(%),불쾌지수,불쾌지수_이동평균3,불쾌지수_이동평균5,holiday,월,...,지식산업센터,할인마트,호텔및리조트,건물유형_라벨,태양광여부,work_time,low_day,particular,CDH,answer
0,1,2022-08-25 00:00:00,23.5,2.2,72,71.78980,71.789800,71.789800,False,8,...,0,0,0,1,False,0,0,0,-2.5,6856.975674
1,1,2022-08-25 01:00:00,23.0,0.9,72,71.02840,71.409100,71.409100,False,8,...,0,0,0,1,False,0,0,0,-5.5,7018.911182
2,1,2022-08-25 02:00:00,22.7,1.5,75,70.81675,71.211650,71.211650,False,8,...,0,0,0,1,False,0,0,0,-8.8,6880.012286
3,1,2022-08-25 03:00:00,22.1,1.3,78,70.11262,70.652590,70.936892,False,8,...,0,0,0,1,False,0,0,0,-12.7,6875.604845
4,1,2022-08-25 04:00:00,21.8,1.0,77,69.56514,70.164837,70.662542,False,8,...,0,0,0,1,False,0,0,0,-16.9,6881.398125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16795,100,2022-08-31 19:00:00,22.5,0.9,84,71.22400,72.378973,72.792244,False,8,...,0,0,1,12,False,1,0,0,-34.5,2599.195439
16796,100,2022-08-31 20:00:00,20.7,0.4,95,68.95035,70.961363,71.899884,False,8,...,0,0,1,12,False,1,0,0,-34.4,2485.390799
16797,100,2022-08-31 21:00:00,20.2,0.4,98,68.24604,69.473463,70.866662,False,8,...,0,0,1,12,False,1,0,0,-35.3,2103.535017
16798,100,2022-08-31 22:00:00,20.1,1.1,97,68.01203,68.402807,69.828432,False,8,...,0,0,1,12,False,1,0,0,-36.8,2036.420278
16799,100,2022-08-31 23:00:00,19.1,0.1,99,66.33391,67.530660,68.553266,False,8,...,0,0,1,12,False,0,0,0,-40.2,820.184042

In [109]:
print(sum(test_df['answer'].isna()))

0

In [190]:
test_df.columns

Index(['건물번호', '일시', '기온(C)', '풍속(m/s)', '습도(%)', '불쾌지수', '불쾌지수_이동평균3',
       '불쾌지수_이동평균5', 'holiday', '월', '일', '시간', '시간_sin', '시간_cos', '요일',
       '연면적(m2)', '냉방면적(m2)', '태양광용량(kW)', 'ESS저장용량(kWh)', '건물기타', '공공', '대학교',
       '데이터센터', '백화점및아울렛', '병원', '상용', '아파트', '연구소', '지식산업센터', '할인마트',
       '호텔및리조트', '건물유형_라벨', '태양광여부', 'work_time', 'low_day', 'particular',
       'CDH', 'answer'],
      dtype='object')

In [111]:
# 데이터 불러오기
df = pd.read_csv(path_drive+'sample_submission.csv')

df['answer'] = test_df['answer']
df.to_csv(path+'ensemble_final.csv', index=False)

In [112]:
len(df[df['answer']<0])

0